.footer {
  color: #fff;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #fff;
  padding: 15px 0;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.footer-icon {
  width: 25px;
  margin-right: 10px;
  filter: invert(1);
}

/***** Media query ******/

@media (max-width: 600px) {
  .footer {
    display: block;
    text-align: center;
  }
  .footer ul li {
    margin: 10px;
  }
  .footer ul {
    margin-top: 10px;
  }
}
